* {
  box-sizing: border-box;
}
:root {
  --grey: #504944;
  --paper: #e9e4de;
  --gold: #cdbc92;
}

body {
  margin: 0;
  background-color: var(--paper);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: var(--grey);
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--gold);
  font-size: 2rem;
  font-weight: 600;
}

.btn-container {
  display: flex;
  gap: 0.5rem;
}

.btn-nav {
  background-color: var(--gold);
  color: white;
}
.btn-nav.reset {
  background-color: red;
}

.btn-nav.print {
  background-color: green;
}

.main-container {
  display: grid;
  padding: 4rem;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
}

.form-container {
  padding: 1rem;
  background-color: white;
}
.form-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.info-title {
  grid-column: 1/3;
}

.description {
  grid-column: 1/3;
  min-height: 5rem;
}

.preview-container {
  background-color: white;
}

.all-work-container {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.work-container {
  background-color: var(--gold);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 1rem;
}
.work-counter {
  padding: 0;
  margin: 0;
  grid-column: 1/3;
}
.work-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-work {
  margin: 2rem;
}
.remove-work {
  width: 120px;
  font-size: 0.8rem;
  padding: 0.3rem;
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
}

button:hover {
  border-color: #000000;
  background: #f7f7f7;
}

.preview-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.preview-left {
  padding: 1rem;
}

.preview-photo {
  width: 100%;
}

.preview-links {
  display: flex;
  flex-direction: column;
}

@media print {
  nav,
  .form-container {
    display: none;
  }
}
